/* BlogCard */

.blog-card {    
    background: radial-gradient(circle at top, _palette(bg-accent) 10%, _palette(bg) 80%);
    color: _palette(font-light);
    transition: 0.3s;
    width: 100%;

    > .content-grid {
        padding: 2px 16px;
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-areas: 
          "timeline content"
          "timeline content"
          "timeline content"
          ;
        grid-column-gap: 20px;
    }

    .card-timeline {
        grid-area: timeline;
        display: grid;
        grid-template-areas: "dot date";
        grid-template-columns: 1fr 3fr;
        border-left: solid 3px _palette(accent4);
        align-items: center;
        color: _palette(accent4);

        h3 {
            grid-area: date;
            transform: rotate(-90deg) translateY(-45px);
            white-space: nowrap;
            margin-right: 25px;
            text-transform: uppercase;
            letter-spacing: _font(letter-spacing);
            font-weight: normal;
        }

        > .dot {
            grid-area: dot;
            height: 15px;
            width: 15px;
            background-color: _palette(accent4);
            border-radius: 50%;
            transform: translateX(-9px);
          }
    }

    .card-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
          "title tags"
          "description tags"
          "description tags"
          ;
        grid-column-gap: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
    }

    #card-title {
        grid-area: title;
        display: flex;
        align-items: center;
        justify-content: left;
        line-height: 1.1em;
    }

    #card-description {
        grid-area: description;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #card-date {
        display: none;
    }

    #card-tags {
        grid-area: tags;
        display: inline-flex;
        align-items: top;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 20px;
    }

    @include breakpoint(small) {
        .content-grid {
            grid-template-columns: 5px 1fr !important;
            grid-column-gap: 0px;
        }

        .card-content{
            grid-template-columns: 1fr;
            grid-template-areas: 
            "title"
            "date"
            "description"
            "tags";
        }

        .card-timeline {
            margin-left: -15px;

            h3 {
                display: none;
            }

            >.dot {
                display: none;
            }
        }

        #card-date {
            grid-area: date;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 6px;
            color: _palette(accent4);
            letter-spacing: _font(letter-spacing);
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

.blog-card:hover {
    background: _palette(bg);
  }