/* BlogCard */

.blog-card {    
    border: solid 1px _palette(border);
    background: white;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;

    > .content-grid {
        padding: 2px 16px;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: 
          "title tags"
          "date tags"
          "description tags"
          ;
        grid-column-gap: 20px;
    }

    #card-title {
        grid-area: title;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 0;
        line-height: 1.1em;
    }

    #card-date {
        grid-area: date;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 8px;
        color: _palette(dk-grey);
        font-weight: bold;
    }

    #card-description {
        grid-area: description;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #card-tags {
        grid-area: tags;
        display: inline-flex;
        align-items: top;
        flex-wrap: wrap;
        justify-content: left;
        padding-top: 2.5px;
    }

    @include breakpoint(small) {
        .content-grid{
            grid-template-columns: 1fr !important;
            grid-template-areas: 
            "title"
            "date"
            "description"
            "tags";
        }
    }
}

.blog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  }
