/* Selection Filter */

#blog-filter {
    @include vendor('transition', (
        'filter #{_duration(menu)} ease',
        '-webkit-filter #{_duration(menu)} ease',
        'opacity 0.375s ease-out'
    ));

    position: relative;
    width: 60vw;
    height: 100%;
    vertical-align: middle;
    display: inline;

    @include breakpoint(small) {
        width: 90vw !important;
    }
}