
.section-container {
    color: _palette(font-light);

    .section-header{
        background-color: _palette(bg);
        height: 100px;
        width: 100%;
        top: 50px;
        position: sticky;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
          "title  description";
        border-bottom: 1px solid _palette(accent1);
        z-index: _misc(z-index-base) + 1;
        
        #section-title {
            grid-area: title;
            display: flex;
            align-items: center;
            justify-content: left;
        }

        #section-description {
            grid-area: description;
            padding-left: 20px;
            width: 80%;
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
           
            &.fade {
                color: grey;
                padding-left: 10px;
            }
        }

        > h1 {
            margin-bottom: 0;
        }
    }

    > .content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5%;
        margin-top: 50px;

        > a {
            border-bottom: none;
        }
    }


    // @include breakpoint(xsmall) {
    //     .section-header{
    //         height: 150px;
    //         top: 43px;
    //         grid-template-columns: 1fr;
    //         grid-template-areas: 
    //           "title"
    //           "description";

    //         #section-description {
    //             padding-left: 0px;
    //         }
    //     }
    //   }

    @include breakpoint(small) {
        .content-grid{
            grid-template-columns: 1fr 1fr;
        }

        .section-header{
            top: 40px;
        }
    }

    @include breakpoint(xsmall) {
        .content-grid{
            grid-template-columns: 1fr;
        }
    }

}